@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617; /* Slate 950 (Fundo escuro) */
  --foreground: #f8fafc; /* Slate 50 (Texto claro) */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}